.App {
  text-align: center;
  background-size: cover;
}

.body {
  background-color: #060707;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eae728;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.button {
  background-color: rgb(255, 255, 66);
  color: #004568;
  border-radius: 50%;
  font-size: medium;
  padding: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}

.App-link {
  color: #61dafb;
}



.judul {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 5px;
  padding-top: 3%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}